.git
.gitignore
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.coverage
.mypy_cache
.dmypy.json
dmypy.json
.env.local
.env.*.local
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
node_modules
.next
.nox
.tox
.ipynb_checkpoints
*.ipynb
logs/*
models/*.pkl
data/ml_raw_data/*
.devcontainer/__pycache__
